:root {
    --heading-font: 'Bebas Neue';
    --text-font: 'Lato';
    --primary-color:#2C5F80;
    --secondary-color:#F4F4F9;
    --accent1-color1:#4B805D;
    --accent2-color2:#F29C50;
}
/*Headings Format*/
h1, h2, h3, figcaption{
    font-family: var(--heading-font);
}

/*Text Format*/ 
p, a , label, text{
    font-family: var(--text-font);
}

/*Header format*/

header {
    display: grid;
    grid-template-columns:max-content 1fr 0fr;
}

header nav {
    display: flex;
    list-style: none;
    opacity: .9;
}

header nav a {
    flex: 1 1 50%;
    align-content: center;
    box-shadow: 0 0 5px #111;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    opacity: .9;
}


/*Limitating the size of the page*/
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    padding: 2rem;
    opacity: .9;
    text-decoration: none;
}
nav a {
    color:#111;
    text-decoration: none;
}

.hero {
    position: relative;
    margin: 10px auto;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    position: relative;
}

.hero h1 {
  position: absolute;
  background-color: var(--primary-color);
  text-align: center;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: .9;
  bottom: 400px;
  width:400px;
  margin: auto;
}

.hero article {
    position: absolute;
    background-color: var(--accent1-color1);
    padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    bottom: 200px;  
}

.hero article img{
    position: relative;
    float: right;
    width: 150px;
}

/*Sections formatting*/
section h2 {
    color: #2C5F80;
    background-color: var(--accent2-color2);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.00001px;
    font-size:xx-large;
    
}

section figcaption {
    color: #F29C50;
    text-align: center;

}
section img {
    width: 200px;
}

/*History formating*/
section.history {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
}
section.history h2{
    text-align: center;
    grid-column: 1 / span 4;
}

section.history img {
  grid-column: 2/4;
  width: 100%;
  align-self: center;
}

section.history p {
  grid-column:span;
  padding: 2rem;
}

/*Pictures formating*/
section.pictures {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
section.pictures h2{
  text-align: center;
  grid-column: 1 / span 5;
}

footer{
  display: grid;
  grid-template-columns:20% 20% 20% 20% 20%;

}
footer p{
    align-self: center;
    text-align: center;
    grid-column: 2/span 3;
}

/*Contact Site*/
.contact-us {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;

}
.contact-us p, label, text{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.contact-us h1,h2{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.contact-us .title-data {
  color: var(--primary-color);
}
  
.contact-us .contact-box-shape {
  display: flex;
  align-self: center;
  width: 650px;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background-color: var(--secondary-color);
}

.contact-us .company-information {
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-color);
  width: 100%;
}

.contact-us .input-title {
  color: var(--primary-color);
  text-align: left;
  font-size: 14px;
  margin: 0px;

}

.contact-us .input {
  width: 100%;
  height: 50px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-width: 2px;
  font-size: 16px;
  color: black;
  border-color:  #eeeeee;
}

.contact-us .radios{
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-color);
  width: 100%;
}
.contact-us .textinput {
  width: 98%;
  min-height: 150px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-color: #eeeeee;
  font-size: 16px;
}

.contact-us .newsletter{
  color: var(--primary-color);
  padding: 20px;
  text-align: center;
}
  
.contact-us .submit-btn {
  width: 98%;
  background-color: var(--accent2-color2);
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-radius: 40px;
}

.contact-us ::placeholder {
  color: #dadada;
}
  

  
 